body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('images/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
  }

  .header {
    padding: 6px;
    text-align: center;
    color: black;
   background-color: #04AA6D;
    
  }

    .header h1 {
    font-size: 40px;
  }
 
  .topnav {
    overflow: hidden;
    background-color:white;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(38, 202, 231);
    color: black;
  }
  .topnav-right{
    float: right;
  }  
  
  .image{
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  }

  .text{
    color:white;
    padding-top: 30px;

  }

  .columns {
    width: 100%;
    padding: 10px;
    padding-left: 10px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: rgb(224, 37, 37);
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: rgb(228, 235, 230);
    font-size: 20px;
  }
    
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
    .bt{
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
    }


  .footer{
    text-align: center;
    box-sizing: border-box;
    padding: 55px 50px;
    width: 100%;
    color: white;
    background-color: black;
    
  }

  .mail{
    text-align: center;
    color: white;
  }

 


    .logo {
      display: inline-block;
      vertical-align: left;
      border-radius: 0%;
      float:left;
    }

    @media only screen and (max-width: 767px) {
      .logo {
        max-width: 100%;
      }
    }

    .logo a {
      display: block;
    }

    .logo-img {
      width: min(50vw, 200px);

    }


  }
  
  
 
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
  
  * {
    font-family: Open Sans;
  }
