body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
  }

  .header {
    padding: 6px;
    text-align: center;
    background: white;
    color: black;
    
  }

    .header h1 {
    font-size: 40px;
  }
 
    .navbar {
    overflow: hidden;
    background-color:white;
    }

  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    }

  .navbar a.right {
    float: right;
  }
  .navbar a.active {
    background-color: #0fdb2a;
    color: white;
  }

  
  .navbar a:hover {
    background-color:rgb(96, 98, 235);
    color: black;
    
  }

  .image{
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  }

  .text{
    color:black;
    padding-top: 80px;

  }


  .footer{
    text-align: center;
    box-sizing: border-box;
    padding: 55px 50px;
    width: 100%;
    color: white;
    background-color: black;
    
  }

  .mail{
    text-align: center;
    color: white;
  }

 


    .logo {
      display: inline-block;
      vertical-align: left;
      border-radius: 0%;
      float:left;
    }

    @media only screen and (max-width: 767px) {
      .logo {
        max-width: 100%;
      }
    }

    .logo a {
      display: block;
    }

    .logo-img {
      width: min(50vw, 200px);

    }


  }
  .log  {
    float: right;
  }
  
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 400;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color:lime;
  }
  
  * {
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
  
  * {
    font-family: Open Sans;
  }